.report
  .ds_header= @dataset_title
  %table.dataset
    %thead    
      %tr
        - @dataset.header.each do |h|
          %th
            = h[:title]
    - @dataset.rows.each do |row|
      %tr
        - row.each do |field|
          %td
            = field
  .ds_footer view report... (coming soon)
