.report
  .ds_header= @options[:title]
  %table.dataset
    %thead
      %tr
        - @dataset.header.each do |h|
          %th
            = h[:title]
    %tbody
      - @dataset.rows.each do |row|
        %tr
          - row.each_value do |field|
            %td
              = field
