- @title = "Homepage"
%div{ :style => "padding: 1em" }
  %h1 MTG Card Prices
  Welcome to the MTG pricing system.  MTG Card Prices analyses eBay auctions to provide a price for individual cards.  For indidivudal cards, You can search using the search box in the header, or look at the list of cards below.

  %h3 What's New
  %ul
    %li
      :markdown
        May 19 - [New Phyrexia](/set/New%20Phyrexia) added
    %li
      :markdown
        see [Updates](/updates) for a complete list


.grid_12
  = to_js_table @latest_block, :title => 'Scars Block'
.clear
.grid_12
  = to_js_table @highest_volume_cards, :title => 'Most Auctioned Cards'
