- @title = "Homepage"
%div{ :style => "padding: 1em" }
  Welcome to the MTG pricing system.  You can search using the search box in the header, or look at the list of cards below.

  %h3 What's New
  %ul
    %li SETS and CARDS menus (in the upper-right corner)
    %li
      see
      %a{ :href=>'/updates' } Updates
      for a complete list


.grid_6
  = @highest_volume_cards.to_table(:title => "Most Auctioned Cards")
.grid_6
  = @most_expensive_cards.to_table(:title => "Mirrodin Besieged")
