- @title = "Homepage"
%div{ :style => "padding: 1em" }
  Welcome to the MTG pricing system.  You can search using the search box in the header, or look at the list of cards below.

  The things I am currently working on are:
  %ul
    %li finalizing the price of items (currently only lists the current auction price the last time it looked)
    %li only including items that actually completed successfully (for example, that tangle wire auction didn't actually have any bidders on it, but it gets included anyway)
    %li more metrics!  (historical price in card detail)
    %li better average prices (currently is average for all time...)
    %li better card matching system (currently there are ~10k auctions unmatched)
    %li support for buy-it-now auctions

%div{ :style => "padding-left: 1em; padding-right: 1em" }
  %div{ :style => "float: left; width: 49%" }
    = render_dataset("Most Expensive Cards", @most_expensive_cards)
    = render_dataset("Most Auctioned Cards", @highest_volume_cards)

  %div{ :style => "float: right; width: 49%" }
    = render_dataset("Most Expensive Shards of Alara Cards", @most_expensive_shards_of_alara_cards)
  
