- @title = "Homepage"
%div{ :style => "padding: 1em" }
  Welcome to the MTG pricing system.  You can search using the search box in the header, or look at the list of cards below.

  %h3 What's New
  %ul
    %li
      see
      %a{ :href=>'/updates' } Updates
      for a complete list


.grid_12
  = to_js_table @latest_block, :title => 'Scars Block'
.clear
.grid_12
  = to_js_table @highest_volume_cards, :title => 'Most Auctioned Cards'
