!!!strict
%html
  %head
    %title= "MTG Card Prices - #{@title}"
    %meta{ :name => 'description', :content => @description }
    %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %link{ :rel => "stylesheet", :href => "/style.css", :type => "text/css" }
    %link{ :rel => "stylesheet", :href => "/grid.css", :type => "text/css" }
    %script{ :type=>"text/javascript", :src=>"http://www.google.com/jsapi?key=ABQIAAAA4u0uHzGoNpekjbUPMq04CxTeCfcHUXiWdKuX84-GuE3H8i3CKRTQkzl56AMPpwKltJjqbJh1PFWqrg" }
    %script{ :type=>"text/javascript" }
      google.load('visualization', '1', {packages: ['table', 'linechart']});
      google.load("jquery", "1.5.2");
      google.load("jqueryui", "1.8.12");
    :javascript
       var _gaq = _gaq || [];
       _gaq.push(['_setAccount', 'UA-23072820-1']);
       _gaq.push(['_trackPageview']);

       (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
  %body
    .header
      %div{ :style => 'float: right' }
        %a{ :href=>'/' } Home
        %a{ :href=>'http://blog.verastreet.com' } Blog
        %a{ :href=>'/set' } Sets
        %a{ :href=>'/match_auction' } Match Auctions
      = search_box()
    .container_12
      = yield
